doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Diadok form
		link(rel='stylesheet', href='main.css')
		//- script(type="text/javascript" src="main.js")
	body
		.container
			h2 Акт сдачи-приемки №2 от 29.05.2020
			p.text-center Исправление № ___ от ___
			//- br
			//- br
			section.mt-lg
				p Доксвижн консалт выполнил, Доксвижн Северо-Запад принял следующие работы (услуги)
				.row.mt-sm
					div Основания передачи (сдачи)
					.underline.grow 2 №3 от 29.05.2020

			// Таблица с ценами **********************

			section.mt-lg
				table
					thead
						tr
							th.small Но- мер по по- рядку
							th.big Наименование работы (услуги)
							th Единица измерения
							th Кол-во
							th Цена (тариф) за единицу
							th Стоимость работ (услуг) всего без налога
							th Сумма налога
							th Сумма с учетом налога
						tr.petit
							th 1
							th 2
							th 3
							th 4
							th 5
							th 6
							th 7
							th 8
					tbody
						tr
							td.text-center 1
							td Шаверма по ливански
							td.text-center шт
							td.text-right 10
							td.text-right 1.12
							td.text-right 11.20
							td.text-right 2.00
							td.text-right 13.20
						tr.total
							td(colspan='5') Всего к оплате:
							td 11.20
							td 2.00
							td 13.20
			// Блок Всего*****************************
			section.mt-lg
				.row
					.label Всего оказано услуг на сумму
					.underline.grow.text-bold Сто четырнадцать рублей 00 копеек
						.hint прописью
				.row.mt-sm
					.label В т.ч. НДС
					.underline.grow.text-bold Два рубля 00 копеек
						.hint прописью
				.row.mt-sm
					.label.small Идентификатор государственного контракта, договора (соглашения) (при наличии)
					.underline.grow

			// Подписи **********************
			section.mt-lg
				.sign
					.block1
						div Сдал:
						.underline.mt-sm Доксвижн консалт
						.row
							div ИНН
							.underline.grow 3434
							div КПП
							.underline.grow 3434
						.row
							div Адрес
							.underline.grow г.Санкт-Петербург
						.row
							div Банковские реквизиты
							.underline.grow
						.row
							.underline.grow Налоговый ниндзя-ковбой
								.hint должность
						.row
							.underline.grow Голомудько Разубай Буранович
								.hint фио
						.row
							div Дата исполнения
							.underline.grow 29 мая 2020 г.
					.block2
						div Принял:
						.underline.mt-sm Доксвижн Северо-Запад
						.row
							div ИНН
							.underline.grow 3434
							div КПП
							.underline.grow 3434
						.row
							.underline.grow
								.hint должность
							.underline.grow
								.hint фио
						.row
							div Дата приемя
							.underline.grow 30 мая 2020 г.

			// Начало печати Диадок **********************
			.diadok
				.id Идентификатор документа a456993fg9888aj3452
				.round
					svg(viewBox='0 0 294 294', fill='none', xmlns='http://www.w3.org/2000/svg')
						path(
							d='M77.5 232L66 197.5H199M217.5 232L228.5 197.5H199M126.5 55H199V197.5',
							stroke='#6398b5',
							stroke-width='18',
							stroke-linecap='round',
							stroke-linejoin='round'
						)
						path(
							d='M101 104.5H157.5',
							stroke='#6398b5',
							stroke-width='18',
							stroke-linecap='round',
							stroke-linejoin='round'
						)
						path(
							d='M90 147H158',
							stroke='#6398b5',
							stroke-width='18',
							stroke-linecap='round',
							stroke-linejoin='round'
						)

				.text Документ передан в тестовом режиме через оператора ЭДО АО "ПФ 'СКБ Контур'"
				table.noborder.mt-sm
					tr
						th
						th Владелец сертификата: организация, сотрудник
						th Сертификат: серийный номер, период действия
						th Дата и время подписания
					tr
						td.nowrap
							span Подписи отправителя:
							svg(viewBox='0 0 15 22', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M2 21.5V12H13V22L7.5 18.5L2 21.5Z', fill='#6398b5')
								circle(cx='7.5', cy='7.5', r='7', fill='white', stroke='#6398b5')
								circle(cx='7.5', cy='7.5', r='4.5', fill='#6398b5')

						td Тестовая организация
							br
							|Диадок Сертификат тестовый, директор
						td 732F5F003EAB15A343C5F55D6A92D21E
							br
							|с 10.01.2020 08:36 по 10.01.2022 08:36
							br
							|GMT+03:00
						td 29.05.2020 13:25 GMT+03:00
							br
							|Подпись соответствует файлу документа
